# Directorios y archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Directorio de entorno virtual (si se usa)
venv/
env/

# Directorio de dependencias de Node.js
node_modules/

# Archivos de configuración local
.env

# Archivos de migraciones de Django
/migrations/

# Archivos de logs
*.log

# Archivos de base de datos SQLite
*.sqlite3

# Archivos de IDE y editores de texto
.idea/
.vscode/

# Otros
.DS_Store
*.bak
*.swp